doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="cache-control" content="no-cache")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/css/bootstrap.min.css")
  body
    div(class="box" style="padding:25px 45px;")
      if urls
        ul.nav.nav-pills
          each url in urls
            li
              a(href='/' + url) #{url}
              
          li
            a(href="/search") 全站搜索 
        
    block content

    script(src="/js/jquery-3.2.1.min.js")
    script(src="/js/bootstrap.min.js")
    block ft-script
