.modal.fade#mod
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                h4.modal-title 视频哟
            .modal-body 
                video#alert(src="", controls, style='width: 100%;')
            .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
